@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Sora:wght@100..800&display=swap");
body,
html {
  height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.pagewrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}
body.hidden {
  overflow: hidden;
}
body * {
  margin-top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 140%;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1224px;
  }
}
input {
  outline: none;
}

img {
  max-width: 100%;
}

.fill-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  position: absolute;
  left: 0;
  top: 0;
}

.green-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 48px;
  padding: 5px 20px;
  min-width: 120px;
  color: #000;
  background: #B9E640;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  line-height: 100%;
}

.border-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 48px;
  padding: 5px 18px;
  min-width: 120px;
  color: #fff;
  background: transparent;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  line-height: 100%;
  border: 1px solid #B9E640;
  font-size: 14px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.border-btn img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.border-btn:hover {
  background: #B9E640;
  color: #000;
}
.border-btn:hover img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

h1 {
  font-family: "Manrope", sans-serif;
  color: #000;
  font-size: 80px;
  font-weight: 700;
  line-height: normal;
}
h1.white {
  color: #fff;
}
h1 span {
  color: #B9E640;
}

h2 {
  color: #181A1C;
  font-weight: 600;
  font-size: 56px;
  font-family: "Sora", sans-serif;
  line-height: 110%;
}
h2.white {
  color: #fff;
}
h2 span {
  color: #B9E640;
}

h3 {
  font-size: 48px;
  line-height: 110%;
  font-family: "Sora", sans-serif;
  font-weight: 400;
  color: #181A1C;
}
h3.white {
  color: #fff;
}

.text-center {
  text-align: center;
}

.hero {
  position: relative;
  overflow: hidden;
  height: calc(100vh + 150px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(11, 30, 37, 0.5);
}
.hero .container {
  position: relative;
  z-index: 2;
}

.hero__content {
  text-align: center;
}
.hero__content h1 {
  margin-bottom: 12px;
}
.hero__content p {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 48px;
}

.hero-wave {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
  height: 150px;
  -o-object-fit: 100% 100%;
     object-fit: 100% 100%;
  -o-object-position: 100% 0;
     object-position: 100% 0;
}

.features {
  padding: 0 0 90px 0;
}
.features h2 {
  text-align: right;
  margin-bottom: 52px;
}

.features-item {
  border-radius: 10px;
  border: 1px solid #181A1C;
  position: relative;
  overflow: hidden;
  padding: 20px 20px 20px 80px;
  display: block;
  text-decoration: none;
  margin-bottom: 20px;
  min-height: 178px;
}
.features-item .wrapper {
  position: relative;
  z-index: 2;
}
.features-item h5 {
  margin-bottom: 12px;
  color: #181A1C;
  font-family: "Sora", sans-serif;
  font-size: 24px;
  line-height: 110%;
}
.features-item p {
  margin: 0;
  font-size: 14px;
  color: #181A1C;
}
.features-item::after {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 0 0 10px 0;
  background: #B9E640;
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.features-item:hover::after {
  width: 100%;
  height: 100%;
}

.features__icon {
  width: 40px;
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 2;
}

.ctasection {
  position: relative;
  overflow: hidden;
  padding: 63px 0;
  min-height: 340px;
}
.ctasection::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(24, 26, 28, 0.3);
}
.ctasection .container {
  position: relative;
  z-index: 2;
}

.doelgroepen {
  padding: 100px 0;
  background: #101010;
}

.section__head {
  text-align: center;
  margin-bottom: 52px;
}
.section__head h2 {
  margin-bottom: 24px;
}
.section__head p {
  color: #fff;
  font-weight: 500;
}
.section__head p span {
  color: #B9E640;
}
.section__head p:last-child {
  margin-bottom: 0;
}

.accordeon-item {
  border-bottom: 1px solid #C9C9C9;
}
.accordeon-item:nth-child(1) {
  border-top: 1px solid #C9C9C9;
}
.accordeon-item.active .accordeon-header .accordeon-arrow {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.accordeon-header {
  position: relative;
  min-height: 112px;
  padding: 10px 20px 10px 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.accordeon-header h5 {
  margin: 0;
  color: #fff;
  font-family: "Sora", sans-serif;
  font-weight: 600;
  line-height: 110%;
  font-size: 24px;
}
.accordeon-header .accordeon-arrow {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 32px;
}

.accordeon-body {
  display: none;
  padding-left: 52px;
  padding-bottom: 60px;
}
.accordeon-body .description {
  max-width: 545px;
}
.accordeon-body .description p {
  color: #fff;
  font-size: 14px;
  margin-bottom: 25px;
}
.accordeon-body .description p:last-child {
  margin-bottom: 0;
}
.accordeon-body .imgwrap img {
  width: 100%;
}

.kernsterktes {
  padding: 100px 0 120px;
}

.kernsterktes-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.kernsterktes-content h2 {
  margin-bottom: 88px;
}
.kernsterktes-content .imgwrap img {
  border-radius: 10px;
  vertical-align: top;
}

.kernsterktes__item {
  border: 1px solid #2D2D2D;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}
.kernsterktes__item:last-child {
  margin-bottom: 0;
}
.kernsterktes__item h5 {
  color: #181A1C;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 110%;
  font-family: "Sora", sans-serif;
}
.kernsterktes__item ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.kernsterktes__item ul li {
  position: relative;
  padding-left: 24px;
  margin-bottom: 8px;
}
.kernsterktes__item ul li:last-child {
  margin-bottom: 0;
}
.kernsterktes__item ul li span {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid #7CA32A;
  background: #B9E640;
  border-radius: 4px;
}

.referenties {
  background: #101010;
  padding: 100px 0;
}

.accordeon-item .row {
  width: 100%;
}
.accordeon-item .accordeon-header .imgwrap {
  text-align: right;
}
.accordeon-item .accordeon-header .imgwrap img {
  vertical-align: top;
  max-width: 150px;
  max-height: 77px;
}
.accordeon-item .green-btn {
  min-width: 183px;
  margin-top: 3px;
}

.overons {
  padding: 110px 0 180px;
  position: relative;
  z-index: 1;
}
.overons h2 {
  color: #fff;
}
.overons .description p {
  color: #fff;
  font-weight: 500;
  margin-bottom: 20px;
}
.overons .description p:last-child {
  margin-bottom: 0;
}

.whatwedo {
  padding: 0 0 110px 0;
  position: relative;
  z-index: 3;
}

.whatwedo__header {
  text-align: right;
}
.whatwedo__header span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 24px;
  background: #B9E640;
  height: 52px;
  padding: 4px 24px;
  font-size: 24px;
  line-height: 110%;
  font-weight: 600;
  font-family: "Sora", sans-serif;
  border-radius: 30px;
}
.whatwedo__header h2 {
  margin-bottom: 80px;
}

.whatwedo__item {
  background: #fff;
  border-radius: 10px;
  padding: 24px;
  height: 100%;
  min-height: 266px;
}
.whatwedo__item h5 {
  margin-bottom: 16px;
  color: #000;
  font-size: 24px;
  line-height: 110%;
  font-family: "Sora", sans-serif;
  font-weight: 600;
}
.whatwedo__item p {
  color: #2D2D2D;
  font-weight: 500;
  margin: 0;
}

.row.customspace50 {
  margin-left: -25px;
  margin-right: -25px;
}
.row.customspace50 > * {
  padding-right: 25px;
  padding-left: 25px;
}

.whatwedo__footer {
  text-align: center;
  margin-top: 80px;
  position: relative;
  z-index: 2;
}

.sectiongroup {
  position: relative;
  overflow: hidden;
}
.sectiongroup::after {
  content: "";
  display: block;
  height: 228px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#fff), color-stop(80%, rgba(255, 255, 255, 0)));
  background: linear-gradient(to top, #fff, rgba(255, 255, 255, 0) 80%);
  z-index: 1;
}

.businessnav {
  padding: 15px 0 190px 0;
}
.businessnav h3 {
  margin-bottom: 64px;
  text-align: center;
}

.circleswrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.circlebox {
  width: 100%;
  max-width: 346px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 346px;
          flex: 0 0 346px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  border: 1px solid #2D2D2D;
  margin-left: -69px;
}
.circlebox:nth-child(1) {
  margin-left: 0;
}
.circlebox p {
  color: #B9E640;
  font-size: 56px;
  line-height: 110%;
  font-weight: 600;
  font-family: "Sora", sans-serif;
  text-align: center;
  margin: 0;
}
.circlebox p span {
  display: block;
  color: #181A1C;
  margin: 10px 0 0 0;
  font-size: 24px;
  line-height: 110%;
}

.quotesection {
  background: #D9C1B4;
  padding: 98px 0 90px;
}
.quotesection img {
  border-radius: 10px;
}
.quotesection .description img {
  height: 48px;
  margin-bottom: 35px;
}
.quotesection .description p {
  color: #181A1C;
  font-size: 36px;
  line-height: 120%;
  font-family: "Sora", sans-serif;
  margin-bottom: 40px;
}
.quotesection .description p.author {
  margin: 0;
  text-align: right;
  color: #101010;
  font-size: 24px;
  line-height: 110%;
  font-family: "Sora", sans-serif;
  font-weight: 600;
}

.limg img {
  max-width: 240px;
}

.rimg {
  text-align: right;
}
.rimg img {
  max-width: 326px;
}

.contacts {
  padding: 90px 0 185px;
  position: relative;
}
.contacts .container {
  position: relative;
  z-index: 2;
}

.contact-box {
  background: #fff;
  border-radius: 10px;
  padding: 40px;
}
.contact-box h3 {
  font-weight: 600;
  margin-bottom: 43px;
}
.contact-box ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.contact-box ul li {
  margin-bottom: 32px;
  position: relative;
  padding-left: 44px;
  color: #181A1C;
  font-weight: 500;
}
.contact-box ul li img {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 24px;
}
.contact-box ul li:last-child {
  margin-bottom: 0;
}
.contact-box ul li:nth-child(1) img {
  top: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.contact-box ul li a {
  text-decoration: none;
  color: #181A1C;
  font-weight: 500;
}

.map iframe {
  aspect-ratio: 16/5;
  vertical-align: top;
}

header.header {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 12;
}
header.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
header.header ul li a {
  font-family: "Inter", sans-serif;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  display: inline-block;
  padding: 40px 25px 25px 25px;
  text-decoration: none;
}
header.header ul li a.active {
  background: #B9E640;
  color: #181A1C;
}

.header__logo {
  padding-bottom: 15px;
  display: inline-block;
}
.header__logo img {
  width: 100%;
  max-width: 270px;
}

.footer__topsection {
  padding: 52px 0;
  text-align: center;
  background: #fff;
}
.footer__topsection h5 {
  font-size: 24px;
  line-height: 110%;
  font-weight: 600;
  font-family: "Sora", sans-serif;
  margin-bottom: 21px;
}
.footer__topsection h5 span {
  color: #7CA32A;
}
.footer__topsection p {
  margin: 0;
  color: #181A1C;
  font-weight: 500;
}
.footer__topsection p a {
  text-decoration: none;
  color: #181A1C;
}
.footer__topsection p a span {
  color: #7CA32A;
}

.footer__botsection {
  background: #101010;
  min-height: 94px;
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__botsection .row {
  width: 100%;
}
.footer__botsection p {
  margin: 0;
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.footer-link {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}

.scrolltop-wrap {
  text-align: right;
}
.scrolltop-wrap .totop {
  width: 60px;
  height: 60px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 1px solid #fff;
}
.scrolltop-wrap .totop svg, .scrolltop-wrap .totop img {
  max-width: 20px;
}