@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Sora:wght@100..800&display=swap");
body,
html {
  height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
}
.main::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.pagewrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}
body.hidden {
  overflow: hidden;
}
body * {
  margin-top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 140%;
}
body.openedmenu {
  overflow: hidden;
}
body.openedmenu main {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}
body.openedmenu main::after {
  opacity: 1;
  z-index: 2;
  visibility: visible;
  background: rgba(0, 0, 0, 0.6);
}

@media (min-width: 1400px) {
  .container {
    max-width: 1224px;
  }
}
input {
  outline: none;
}

img {
  max-width: 100%;
}

.fill-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  position: absolute;
  left: 0;
  top: 0;
}

.green-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 48px;
  padding: 5px 20px;
  min-width: 120px;
  color: #000;
  background: #B9E640;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  line-height: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.green-btn:hover {
  background: #a8d137;
}

.border-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 48px;
  padding: 5px 18px;
  min-width: 120px;
  color: #fff;
  background: transparent;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  line-height: 100%;
  border: 1px solid #B9E640;
  font-size: 14px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.border-btn img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.border-btn:hover {
  background: #B9E640;
  color: #000;
}
.border-btn:hover img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

h1 {
  font-family: "Manrope", sans-serif;
  color: #000;
  font-size: 80px;
  font-weight: 700;
  line-height: normal;
}
h1.white {
  color: #fff;
}
h1 span {
  color: #B9E640;
}

h2 {
  color: #181A1C;
  font-weight: 600;
  font-size: 56px;
  font-family: "Sora", sans-serif;
  line-height: 110%;
}
h2.white {
  color: #fff;
}
h2 span {
  color: #B9E640;
}

h3 {
  font-size: 48px;
  line-height: 110%;
  font-family: "Sora", sans-serif;
  font-weight: 400;
  color: #181A1C;
}
h3.white {
  color: #fff;
}

.text-center {
  text-align: center;
}

@media (max-width: 1599.8px) {
  h1 {
    font-size: 72px;
  }
  h3 {
    font-size: 42px;
  }
}
@media (max-width: 1399.8px) {
  h1 {
    font-size: 62px;
  }
  h2 {
    font-size: 42px;
  }
  h3 {
    font-size: 36px;
  }
}
@media (max-width: 1199.8px) {
  h1 {
    font-size: 52px;
  }
  h2 {
    font-size: 38px;
  }
  h3 {
    font-size: 32px;
  }
}
@media (max-width: 575.8px) {
  h1 {
    font-size: 34px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }
}
.hero {
  position: relative;
  overflow: hidden;
  height: calc(100vh + 150px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 500px;
}
.hero::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(11, 30, 37, 0.5);
}
.hero .container {
  position: relative;
  z-index: 2;
}

.hero__content {
  text-align: center;
}
.hero__content h1 {
  margin-bottom: 12px;
}
.hero__content p {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 48px;
}

.hero-wave {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
  height: 150px;
  -o-object-fit: 100% 100%;
     object-fit: 100% 100%;
  -o-object-position: 100% 0;
     object-position: 100% 0;
}

.features {
  padding: 30px 0 90px 0;
}
.features h2 {
  text-align: right;
  margin-bottom: 52px;
}

.features-item {
  border-radius: 10px;
  border: 1px solid #181A1C;
  position: relative;
  overflow: hidden;
  padding: 20px 20px 20px 80px;
  display: block;
  text-decoration: none;
  margin-bottom: 20px;
  min-height: 178px;
}
.features-item .wrapper {
  position: relative;
  z-index: 2;
}
.features-item h5 {
  margin-bottom: 12px;
  color: #181A1C;
  font-family: "Sora", sans-serif;
  font-size: 24px;
  line-height: 110%;
}
.features-item p {
  margin: 0;
  font-size: 14px;
  color: #181A1C;
}
.features-item::after {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 0 0 10px 0;
  background: #B9E640;
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.features-item:hover::after {
  width: 100%;
  height: 100%;
}

.features__icon {
  width: 40px;
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 2;
}

.ctasection {
  position: relative;
  overflow: hidden;
  padding: 63px 0;
  min-height: 340px;
  text-align: right;
}
.ctasection::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(24, 26, 28, 0.3);
}
.ctasection .container {
  position: relative;
  z-index: 2;
}
.ctasection .fill-img {
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.doelgroepen {
  padding: 100px 0;
  background: #101010;
}

.section__head {
  text-align: center;
  margin-bottom: 52px;
}
.section__head h2 {
  margin-bottom: 24px;
}
.section__head p {
  color: #fff;
  font-weight: 500;
}
.section__head p span {
  color: #B9E640;
}
.section__head p:last-child {
  margin-bottom: 0;
}

.accordeon-item {
  border-bottom: 1px solid #C9C9C9;
}
.accordeon-item:nth-child(1) {
  border-top: 1px solid #C9C9C9;
}
.accordeon-item.active .accordeon-header .accordeon-arrow {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.accordeon-header {
  position: relative;
  min-height: 112px;
  padding: 10px 20px 10px 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.accordeon-header h5 {
  margin: 0;
  color: #fff;
  font-family: "Sora", sans-serif;
  font-weight: 600;
  line-height: 110%;
  font-size: 24px;
}
.accordeon-header .accordeon-arrow {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 32px;
}

.accordeon-body {
  display: none;
  padding-left: 52px;
  padding-bottom: 60px;
}
.accordeon-body .description {
  max-width: 545px;
}
.accordeon-body .description p {
  color: #fff;
  font-size: 14px;
  margin-bottom: 25px;
}
.accordeon-body .description p:last-child {
  margin-bottom: 0;
}
.accordeon-body .imgwrap img {
  width: 100%;
}

.kernsterktes {
  padding: 100px 0 120px;
}

.kernsterktes-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.kernsterktes-content h2 {
  margin-bottom: 88px;
}
.kernsterktes-content .imgwrap {
  position: relative;
  overflow: hidden;
}
.kernsterktes-content .imgwrap video {
  width: 100%;
}
.kernsterktes-content .imgwrap img {
  border-radius: 10px;
  vertical-align: top;
}

.kernsterktes__item {
  border: 1px solid #2D2D2D;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}
.kernsterktes__item:last-child {
  margin-bottom: 0;
}
.kernsterktes__item h5 {
  color: #181A1C;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 110%;
  font-family: "Sora", sans-serif;
}
.kernsterktes__item ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.kernsterktes__item ul li {
  position: relative;
  padding-left: 24px;
  margin-bottom: 8px;
}
.kernsterktes__item ul li:last-child {
  margin-bottom: 0;
}
.kernsterktes__item ul li span {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid #7CA32A;
  background: #B9E640;
  border-radius: 4px;
}

.referenties {
  background: #101010;
  padding: 100px 0;
}

.accordeon-item .row {
  width: 100%;
}
.accordeon-item .accordeon-header .imgwrap {
  text-align: right;
}
.accordeon-item .accordeon-header .imgwrap img {
  vertical-align: top;
  max-width: 150px;
  max-height: 77px;
}
.accordeon-item .green-btn {
  min-width: 183px;
  margin-top: 3px;
}

.overons {
  padding: 110px 0 180px;
  position: relative;
  z-index: 1;
}
.overons h2 {
  color: #fff;
}
.overons .description p {
  color: #fff;
  font-weight: 500;
  margin-bottom: 20px;
}
.overons .description p:last-child {
  margin-bottom: 0;
}

.whatwedo {
  padding: 0 0 110px 0;
  position: relative;
  z-index: 3;
}

.whatwedo__header {
  text-align: right;
}
.whatwedo__header span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 24px;
  background: #B9E640;
  height: 52px;
  padding: 4px 24px;
  font-size: 24px;
  line-height: 110%;
  font-weight: 600;
  font-family: "Sora", sans-serif;
  border-radius: 30px;
}
.whatwedo__header h2 {
  margin-bottom: 80px;
}

.whatwedo__item {
  background: #fff;
  border-radius: 10px;
  padding: 24px;
  height: 100%;
  min-height: 266px;
}
.whatwedo__item h5 {
  margin-bottom: 16px;
  color: #000;
  font-size: 24px;
  line-height: 110%;
  font-family: "Sora", sans-serif;
  font-weight: 600;
}
.whatwedo__item p {
  color: #2D2D2D;
  font-weight: 500;
  margin: 0;
}

.row.customspace50 {
  margin-left: -25px;
  margin-right: -25px;
}
.row.customspace50 > * {
  padding-right: 25px;
  padding-left: 25px;
}

.whatwedo__footer {
  text-align: center;
  margin-top: 80px;
  position: relative;
  z-index: 2;
}

.sectiongroup {
  position: relative;
  overflow: hidden;
}
.sectiongroup .sectbg {
  -o-object-position: 0 0;
     object-position: 0 0;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}
.sectiongroup::after {
  content: "";
  display: block;
  height: 228px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#fff), color-stop(80%, rgba(255, 255, 255, 0)));
  background: linear-gradient(to top, #fff, rgba(255, 255, 255, 0) 80%);
  z-index: 1;
}
.sectiongroup::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.businessnav {
  padding: 15px 0 190px 0;
}
.businessnav h3 {
  margin-bottom: 64px;
  text-align: center;
}

.circleswrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.circlebox {
  width: 100%;
  max-width: 346px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 346px;
          flex: 0 0 346px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  border: 1px solid #2D2D2D;
  margin-left: -69px;
}
.circlebox:nth-child(1) {
  margin-left: 0;
}
.circlebox p {
  color: #B9E640;
  font-size: 56px;
  line-height: 110%;
  font-weight: 600;
  font-family: "Sora", sans-serif;
  text-align: center;
  margin: 0;
}
.circlebox p span {
  display: block;
  color: #181A1C;
  margin: 10px 0 0 0;
  font-size: 24px;
  line-height: 110%;
}

.quotesection {
  background: #D9C1B4;
  padding: 140px 0 90px;
}
.quotesection img {
  border-radius: 10px;
}
.quotesection .description {
  position: relative;
}
.quotesection .description img {
  height: 48px;
  position: absolute;
  left: -50px;
  top: -30px;
}
.quotesection .description p {
  color: #181A1C;
  font-size: 32px;
  line-height: 120%;
  font-family: "Sora", sans-serif;
  margin-bottom: 40px;
}
.quotesection .description p.author {
  margin: 0;
  text-align: right;
  color: #101010;
  font-size: 24px;
  line-height: 110%;
  font-family: "Sora", sans-serif;
  font-weight: 600;
}

.quotesection .limg {
  width: 100%;
  max-width: 357px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 357px;
          flex: 0 0 357px;
  padding-top: 34px;
}
.quotesection .rimg {
  text-align: right;
  width: 100%;
  max-width: 357px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 357px;
          flex: 0 0 357px;
  padding-top: 34px;
}
.quotesection .description {
  width: 100%;
  max-width: calc(100% - 714px);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% - 714px);
          flex: 0 0 calc(100% - 714px);
  padding: 0 30px 0 50px;
}

.contacts {
  padding: 144px 0;
  position: relative;
}
.contacts .container {
  position: relative;
  z-index: 2;
}
.contacts .fill-img {
  -o-object-position: 0 0;
     object-position: 0 0;
}

.contact-box {
  background: #B9E640;
  border-radius: 10px;
  padding: 40px;
}
.contact-box h3 {
  font-weight: 600;
  margin-bottom: 43px;
}
.contact-box ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.contact-box ul li {
  margin-bottom: 32px;
  position: relative;
  padding-left: 44px;
  color: #181A1C;
  font-weight: 500;
}
.contact-box ul li img {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 24px;
}
.contact-box ul li:last-child {
  margin-bottom: 0;
}
.contact-box ul li:nth-child(1) img {
  top: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.contact-box ul li a {
  text-decoration: none;
  color: #181A1C;
  font-weight: 500;
}

.map {
  aspect-ratio: 16/5;
  position: relative;
  overflow: hidden;
}
.map iframe {
  width: 100% !important;
  height: 100% !important;
  vertical-align: top;
}

.show-tel {
  display: none;
}

.ctasection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ctasection h2 {
  text-align: left;
  margin: 0;
  padding-left: 50px;
}

.ctasection-btn {
  text-align: right;
  padding-right: 50px;
}

.kernsterktes-content .imgwrap video {
  vertical-align: top;
}

@media (max-width: 1599.8px) {
  .hero__content h1 {
    margin-bottom: 0;
  }
  .hero__content p {
    font-size: 18px;
    margin-bottom: 40px;
  }
  .kernsterktes-content h2 {
    margin-bottom: 20px;
  }
  .hero-wave {
    height: 120px;
  }
  .features-item h5 {
    font-size: 21px;
    margin-bottom: 10px;
  }
  .kernsterktes__item h5,
  .whatwedo__item h5 {
    margin-bottom: 10px;
  }
  .whatwedo__header h2 {
    margin-bottom: 60px;
  }
  .businessnav h3 {
    margin-bottom: 40px;
  }
  .circlebox p {
    font-size: 48px;
  }
  .circlebox p span {
    font-size: 21px;
  }
  .businessnav {
    padding-bottom: 120px;
  }
  .accordeon-header h5,
  .kernsterktes__item h5,
  .whatwedo__item h5 {
    font-size: 21px;
  }
  .quotesection .description p {
    font-size: 32px;
  }
  .quotesection .description p.author {
    font-size: 21px;
  }
}
@media (max-width: 1399.8px) {
  .circlebox {
    max-width: 326px;
  }
  .hero-wave {
    height: 100px;
  }
  .whatwedo__header span {
    font-size: 18px;
    height: 45px;
  }
  .quotesection .description p {
    font-size: 28px;
  }
  .contact-box h3 {
    margin-bottom: 30px;
  }
  .contact-box ul li {
    margin-bottom: 25px;
  }
}
@media (max-width: 1199.8px) {
  .circlebox {
    max-width: 286px;
  }
  .features-item {
    padding: 20px 20px 20px 60px;
    height: 100%;
    margin: 0;
  }
  .features__icon {
    width: 30px;
  }
  .features-wrap .col-lg-4 {
    margin-bottom: 20px;
  }
  .features-item::after {
    width: 20px;
    height: 20px;
  }
  .overons {
    padding-bottom: 120px;
  }
  .row.customspace50 {
    margin-left: -12px;
    margin-right: -12px;
  }
  .row.customspace50 > * {
    padding-right: 12px;
    padding-left: 12px;
  }
  .circlebox p {
    font-size: 36px;
  }
  .circlebox p span {
    font-size: 18px;
  }
  .limg img,
  .rimg img {
    max-width: 100%;
  }
  .quotesection .description p {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .quotesection .description p.author {
    font-size: 18px;
  }
  .whatwedo__item p {
    font-size: 14px;
  }
  .quotesection .rimg,
  .quotesection .limg {
    max-width: 200px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 200px;
            flex: 0 0 200px;
    padding-top: 0;
  }
  .quotesection .description {
    max-width: calc(100% - 400px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 400px);
            flex: 0 0 calc(100% - 400px);
  }
  .quotesection .description img {
    top: -50px;
    left: 50px;
  }
  .contacts {
    padding: 80px 0;
  }
}
@media (max-width: 991.8px) {
  .circlebox {
    margin-left: -40px;
    max-width: 190px;
  }
  .accordeon-header {
    min-height: 100px;
  }
  .kernsterktes-content .imgwrap {
    display: none;
  }
  .accordeon-item .accordeon-header .imgwrap img {
    max-width: 130px;
    max-height: 60px;
  }
  .whatwedo__item {
    height: auto;
    min-height: initial;
    margin-bottom: 20px;
  }
  .whatwedo__footer {
    margin-top: 50px;
  }
  .quotesection .description img {
    width: 30px;
    height: auto;
    margin-bottom: 10px;
    left: 15px;
  }
  .map {
    aspect-ratio: inherit;
    height: 400px;
  }
  .map iframe {
    width: 100% !important;
    height: 100% !important;
    vertical-align: top;
  }
  .accordeon-header {
    padding: 0 !important;
  }
  .accordeon-header h5 {
    padding-left: 45px;
  }
  .quotesection .description {
    padding: 0 15px;
  }
  .whatwedo {
    padding-bottom: 70px;
  }
  .features,
  .businessnav {
    padding-bottom: 70px;
  }
  .doelgroepen,
  .kernsterktes,
  .referenties,
  .overons,
  .quotesection,
  .contacts {
    padding: 70px 0;
  }
  .features h2 {
    margin-bottom: 30px;
  }
  .accordeon-body .description {
    margin-bottom: 30px;
  }
  .accordeon-body .description p {
    font-size: 16px;
  }
  .quotesection .description p {
    font-size: 21px;
  }
  .contacts {
    padding: 50px 0;
  }
}
@media (max-width: 767.8px) {
  .circlebox {
    margin-left: -40px;
    max-width: 140px;
  }
  .circlebox p {
    font-size: 24px;
  }
  .circlebox p span {
    margin-top: 0;
    font-size: 12px;
  }
  .quotesection .description img {
    width: 20px;
    margin-bottom: 0px;
  }
  .quotesection .description p {
    font-size: 18px;
  }
  .quotesection .description p.author {
    font-weight: 500;
    font-size: 16px;
  }
  .quotesection .rimg,
  .quotesection .limg {
    display: none;
  }
  .quotesection .description {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .quotesection .description img {
    top: initial;
    position: relative;
    left: initial;
  }
  .sectiongroup .sectbg {
    -o-object-position: 30% 0;
       object-position: 30% 0;
  }
  .ctasection h2 {
    padding-left: 0;
    margin-bottom: 20px;
  }
  .ctasection-btn {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    text-align: left;
  }
  .ctasection {
    min-height: 300px;
  }
  .section__head p br {
    display: none;
  }
}
@media (max-width: 575.8px) {
  .circleswrap {
    display: block;
  }
  .circlebox {
    margin-left: 0;
  }
  .hero__content h1 {
    margin-bottom: 10px;
  }
  .hero__content p {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .hero-wave {
    height: 40px;
  }
  .hero {
    height: calc(100vh + 60px);
  }
  .features {
    padding: 40px 0 50px;
  }
  .ctasection {
    padding: 50px 0;
    min-height: 300px;
  }
  .doelgroepen,
  .kernsterktes,
  .referenties,
  .overons,
  .quotesection,
  .contacts {
    padding: 50px 0;
  }
  .contacts {
    padding: 100px 0;
  }
  .section__head {
    margin-bottom: 30px;
  }
  .section__head p {
    font-weight: 400;
  }
  .section__head p br {
    display: none;
  }
  .accordeon-header h5 {
    font-weight: 500;
    font-size: 18px;
  }
  .accordeon-header {
    min-height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 10px 15px 10px 40px;
  }
  .accordeon-item .col-8 {
    width: 100%;
    max-width: 66%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66%;
            flex: 0 0 66%;
  }
  .accordeon-item .col-4 {
    width: 100%;
    max-width: 34%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 34%;
            flex: 0 0 34%;
  }
  .accordeon-header .accordeon-arrow {
    width: 24px;
  }
  .accordeon-body {
    padding-left: 40px;
  }
  .accordeon-item .accordeon-header .imgwrap img {
    max-width: 100%;
  }
  .accordeon-body {
    padding-left: 0;
    padding-top: 10px;
  }
  .accordeon-item .accordeon-header .imgwrap {
    min-height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .accordeon-item .accordeon-header .imgwrap img {
    display: inline-block;
  }
  .accordeon-header {
    min-height: 70px;
  }
  .accordeon-item .accordeon-header .imgwrap img {
    max-width: 70px;
    max-height: 40px;
  }
  .accordeon-body {
    padding-bottom: 30px;
  }
  .whatwedo__header h2 {
    margin-bottom: 30px;
  }
  .whatwedo__item {
    margin-bottom: 15px;
  }
  .whatwedo__footer {
    margin-top: 30px;
  }
  .circleswrap {
    text-align: center;
  }
  .circlebox {
    max-width: 260px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-top: -80px;
  }
  .circlebox:nth-child(1) {
    margin-top: 0;
  }
  .circlebox p {
    font-size: 32px;
  }
  .circlebox p span {
    font-size: 16px;
  }
  .features,
  .businessnav {
    padding-bottom: 50px;
  }
  .limg,
  .rimg {
    display: none;
  }
  .map {
    height: 300px;
  }
  .contact-box {
    max-width: 250px;
    padding: 20px;
  }
  .contact-box h3 {
    margin-bottom: 10px;
  }
  .contact-box ul li {
    padding-left: 35px;
    font-size: 14px;
  }
  .ctasection {
    min-height: initial;
  }
  .sectiongroup .sectbg {
    -o-object-position: 40% 0;
       object-position: 40% 0;
  }
  .show-tel {
    display: block;
  }
  .hide-tel {
    display: none;
  }
}
.service-content {
  padding: 228px 0 110px 0;
}
.service-content .imgwrapp img {
  vertical-align: top;
  border-radius: 10px;
  width: 100%;
}
.service-content .imgwrapp .col-lg-12 {
  margin-bottom: 24px;
}
.service-content .imgwrapp .col-lg-12:last-child {
  margin-bottom: 0;
}

.service__description h1 {
  font-size: 56px;
  line-height: 110%;
  position: relative;
  padding-left: 80px;
}
.service__description h2 {
  font-size: 48px;
  line-height: 110%;
}
.service__description h3 {
  font-size: 42px;
  line-height: 110%;
}
.service__description h4 {
  font-size: 24px;
  line-height: 110%;
}
.service__description p {
  font-size: 14px;
  color: #181A1C;
}
.service__description h5 {
  margin-bottom: 20px;
  color: #181A1C;
  font-size: 24px;
  line-height: 110%;
  font-weight: 600;
}

.service__icon {
  width: 64px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.serviceinfo {
  margin-top: 50px;
}
.serviceinfo ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.serviceinfo ul li {
  position: relative;
  padding-left: 24px;
  margin-bottom: 8px;
}
.serviceinfo ul li span {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid #7CA32A;
  background: #B9E640;
  border-radius: 4px;
}
.serviceinfo ul li span img {
  max-width: 100%;
}

@media (max-width: 1599.8px) {
  .service-content {
    padding: 160px 0 70px 0;
  }
  .service__description h1 {
    font-size: 48px;
    line-height: 110%;
  }
  .service__description h2 {
    font-size: 42px;
    line-height: 110%;
  }
  .service__description h3 {
    font-size: 36px;
    line-height: 110%;
  }
  .service__description h4 {
    font-size: 24px;
    line-height: 110%;
  }
  .service__description h5 {
    margin-bottom: 20px;
    color: #181A1C;
    font-size: 21px;
    line-height: 110%;
    font-weight: 600;
  }
}
@media (max-width: 991.8px) {
  .service__description p {
    font-size: 16px;
  }
  .service__description {
    margin-bottom: 40px;
  }
}
@media (max-width: 767.8px) {
  .service__icon {
    width: 48px;
  }
  .service-content {
    padding: 120px 0 50px 0;
  }
  .service__description h1 {
    padding-left: 70px;
  }
}
@media (max-width: 575.8px) {
  .service__icon {
    margin-bottom: 10px;
  }
  .service__description h1 {
    font-size: 36px;
    line-height: 110%;
    margin-bottom: 20px;
    padding-left: 60px;
  }
  .service__description h2 {
    font-size: 32px;
    line-height: 110%;
  }
  .service__description h3 {
    font-size: 26px;
    line-height: 110%;
  }
  .service__description h4 {
    font-size: 21px;
    line-height: 110%;
  }
  .service__description h5 {
    margin-bottom: 20px;
    color: #181A1C;
    font-size: 21px;
    line-height: 110%;
    font-weight: 600;
  }
}
.hero-vac {
  position: relative;
  overflow: hidden;
  height: 515px;
}
.hero-vac::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(11, 30, 37, 0.5);
}

.infosection {
  padding: 0 0 100px 0;
}
.infosection h2 {
  color: #181A1C;
}
.infosection h2:last-child {
  margin-bottom: 0;
}
.infosection .descr {
  padding-top: 76px;
}
.infosection .descr p {
  color: #181A1C;
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 20px;
}

.wijzoeken {
  background: #F2F6DD;
  padding: 100px 0;
}

.wijzoeken__title {
  font-family: "Sora", sans-serif;
  color: #181A1C;
  font-size: 24px;
  line-height: 110%;
  font-weight: 600;
}

.accordeon__row {
  position: relative;
  margin-bottom: 40px;
}
.accordeon__row:last-child {
  margin-bottom: 0;
}
.accordeon__row::after {
  content: "";
  display: block;
  background: rgba(45, 45, 45, 0.5);
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
}
.accordeon__row.active .accstatus::before {
  -webkit-transform: translateY(-50%) rotate(0deg);
          transform: translateY(-50%) rotate(0deg);
}

.accordeon__header {
  position: relative;
  padding-bottom: 28px;
  cursor: pointer;
}
.accordeon__header h3 {
  margin: 0;
  color: #181A1C;
  font-size: 48px;
  line-height: 110%;
}
.accordeon__header .accstatus {
  width: 28px;
  height: 28px;
  position: absolute;
  right: 0;
  top: 12px;
}
.accordeon__header .accstatus::after, .accordeon__header .accstatus::before {
  content: "";
  height: 4px;
  width: 28px;
  background: #000;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  position: absolute;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.accordeon__header .accstatus::before {
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
}

.accordeon__body {
  display: none;
  padding-bottom: 40px;
}
.accordeon__body p,
.accordeon__body li {
  color: #181A1C;
  font-weight: 500;
}
.accordeon__body li {
  margin-bottom: 3px;
}
.accordeon__body li:last-child {
  margin-bottom: 0;
}
.accordeon__body ul {
  padding-left: 20px;
  display: block;
  margin-bottom: 15px;
}
.accordeon__body .green-btn {
  margin-top: 25px;
}
.accordeon__body h5 {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 110%;
  font-weight: 600;
  font-family: "Sora", sans-serif;
}

.infosection.bieden {
  padding: 120px 0 230px;
}
.infosection.bieden .descr {
  padding-top: 0;
}

.infosection {
  position: relative;
}
.infosection ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.infosection ul li {
  position: relative;
  padding-left: 44px;
  font-size: 24px;
  color: #181A1C;
  font-family: "Sora", sans-serif;
  margin-bottom: 16px;
}
.infosection ul li:last-child {
  margin-bottom: 0;
}
.infosection ul li::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  top: 4px;
  background: url("../img/check-mark.svg") no-repeat center/100%;
}

.wavetop {
  height: 150px;
  position: absolute;
  left: 0;
  top: -149px;
  width: 100%;
  -o-object-fit: 100% 100%;
     object-fit: 100% 100%;
  -o-object-position: 100% 0;
     object-position: 100% 0;
}

.solliciteren {
  padding: 70px 0 120px;
  position: relative;
  z-index: 2;
  background: #181A1C;
}
.solliciteren .descr {
  text-align: center;
}
.solliciteren h2 {
  margin-bottom: 40px;
}
.solliciteren p {
  max-width: 794px;
  margin: 0 auto 28px;
  color: #fff;
  font-weight: 500;
}
.solliciteren p:last-child {
  margin-bottom: 0;
}
.solliciteren a {
  display: inline-block;
  color: #B9E640;
  font-size: 24px;
  line-height: 110%;
  font-weight: 600;
  font-family: "Sora", sans-serif;
  margin-bottom: 28px;
  text-decoration: none;
  position: relative;
}
.solliciteren a::after {
  content: "";
  width: 0;
  height: 2px;
  background: #B9E640;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: block;
  right: 0;
  left: 0;
  margin: 0 auto;
  position: absolute;
  bottom: -4px;
}
.solliciteren a:hover {
  color: #a8d137;
}
.solliciteren a:hover::after {
  width: 100%;
}

.infosection .descr p:last-child {
  margin-bottom: 0;
}

@media (max-width: 1599.8px) {
  .wavetop {
    height: 120px;
    top: -119px;
  }
  .accordeon__header h3 {
    font-size: 42px;
  }
  .infosection ul li {
    font-size: 21px;
  }
  .infosection.bieden {
    padding: 100px 0 200px;
  }
  .solliciteren {
    padding-bottom: 100px;
  }
  .accordeon__header .accstatus {
    top: 5px;
  }
}
@media (max-width: 1599.8px) {
  .wavetop {
    height: 100px;
    top: -99px;
  }
  .accordeon__header h3 {
    font-size: 36px;
  }
  .accordeon__body h5 {
    font-size: 21px;
    margin-bottom: 15px;
  }
  .accordeon__body .green-btn {
    margin-top: 15px;
  }
  .accordeon__body {
    padding-bottom: 20px;
  }
}
@media (max-width: 991.8px) {
  .infosection {
    padding: 50px 0 70px;
  }
  .infosection .descr {
    padding-top: 0;
  }
  .infosection h2:last-child {
    margin-bottom: 30px;
  }
  .wijzoeken {
    padding: 70px 0;
  }
  .wijzoeken__title {
    margin-bottom: 30px;
  }
  .infosection.bieden {
    padding: 70px 0 160px;
  }
  .solliciteren {
    padding-bottom: 70px;
  }
}
@media (max-width: 767.8px) {
  .hero-vac {
    height: 400px;
  }
  .accordeon__header h3 {
    font-size: 28px;
  }
}
@media (max-width: 575.8px) {
  .infosection {
    padding: 50px 0 70px;
  }
  .infosection h2:last-child {
    margin-bottom: 24px;
  }
  .wijzoeken {
    padding: 50px 0;
  }
  .accordeon__header h3 {
    font-size: 24px;
  }
  .accordeon__header {
    padding-bottom: 20px;
  }
  .accordeon__row {
    margin-bottom: 30px;
  }
  .accordeon__body h5 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .accordeon__body {
    padding-top: 15px;
  }
  .infosection.bieden {
    padding: 50px 0 80px;
  }
  .infosection ul li {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .infosection ul li::after {
    top: -1px;
  }
  .wavetop {
    height: 40px;
    top: -39px;
  }
  .solliciteren {
    padding: 50px 0;
  }
  .solliciteren h2 {
    margin-bottom: 24px;
  }
  .wijzoeken__title {
    font-size: 21px;
  }
}
.privacy-content {
  padding: 200px 0 100px 0;
  color: #181A1C;
}
.privacy-content h1,
.privacy-content h2,
.privacy-content h3,
.privacy-content h4,
.privacy-content h5,
.privacy-content h6 {
  color: #181A1C;
  margin-bottom: 20px;
  font-weight: 600;
  margin-top: 30px;
  font-family: "Inter", sans-serif;
}
.privacy-content h1:nth-child(1),
.privacy-content h2:nth-child(1),
.privacy-content h3:nth-child(1),
.privacy-content h4:nth-child(1),
.privacy-content h5:nth-child(1),
.privacy-content h6:nth-child(1) {
  margin-top: 0;
}
.privacy-content h1 {
  font-size: 50px;
}
.privacy-content h2 {
  font-size: 42px;
}
.privacy-content h3 {
  font-size: 36px;
}
.privacy-content h4 {
  font-size: 24px;
}
.privacy-content h5 {
  font-size: 21px;
}
.privacy-content h6 {
  font-size: 18px;
}
.privacy-content p {
  font-size: 16px;
  color: #181A1C;
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
}
.privacy-content ul,
.privacy-content ol {
  font-size: 16px;
  color: #181A1C;
  margin-bottom: 20px;
  padding-left: 20px;
  font-family: "Inter", sans-serif;
}

@media (max-width: 1599.8px) {
  .privacy-content {
    padding: 160px 0 70px 0;
  }
}
@media (max-width: 991.8px) {
  .privacy-content h1 {
    font-size: 42px;
  }
  .privacy-content h2 {
    font-size: 36px;
  }
  .privacy-content h3 {
    font-size: 32px;
  }
  .privacy-content h4 {
    font-size: 24px;
  }
  .privacy-content h5 {
    font-size: 21px;
  }
  .privacy-content h6 {
    font-size: 18px;
  }
}
@media (max-width: 767.8px) {
  .privacy-content {
    padding: 120px 0 50px 0;
  }
}
@media (max-width: 575.8px) {
  .privacy-content h1 {
    font-size: 32px;
    font-weight: 600;
  }
  .privacy-content h2 {
    font-size: 28px;
    font-weight: 600;
  }
  .privacy-content h3 {
    font-size: 24px;
  }
  .privacy-content h4 {
    font-size: 21px;
  }
  .privacy-content h5 {
    font-size: 18px;
  }
  .privacy-content h6 {
    font-size: 18px;
  }
  .privacy-content h1,
  .privacy-content h2,
  .privacy-content h3,
  .privacy-content h4,
  .privacy-content h5,
  .privacy-content h6 {
    margin-bottom: 15px;
    margin-top: 20px;
  }
}
header.header {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 12;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
header.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
header.header ul li a {
  font-family: "Inter", sans-serif;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  display: inline-block;
  padding: 40px 16px 25px 16px;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
header.header ul li a:hover {
  color: #B9E640;
}
header.header ul li a.active {
  background: #B9E640;
  color: #181A1C;
}
header.header.scroll, header.header.header__black {
  background: #181A1C;
}
header.header.scroll ul li a, header.header.header__black ul li a {
  padding-top: 28px;
  padding-bottom: 28px;
}

.header__logo {
  padding-bottom: 15px;
  display: inline-block;
}
.header__logo img {
  width: 100%;
  max-width: 270px;
}

.header__burger {
  display: none;
}

@media (max-width: 1599.8px) {
  header.header ul li a {
    font-size: 18px;
  }
  .header__logo img {
    max-width: 250px;
  }
  header.header ul li a {
    padding: 35px 22px 22px 22px;
  }
}
@media (max-width: 1399.8px) {
  .header__logo {
    padding-bottom: 0;
  }
  .header__logo img {
    max-width: 220px;
  }
  header.header ul li a {
    padding: 30px 20px 15px 20px;
  }
  header.header.scroll ul li a,
  header.header.header__black ul li a {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  header .align-items-end {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 1199.8px) {
  header {
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .container {
    position: relative;
  }
  .header__burger {
    display: inline-block;
  }
  .header__burger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    vertical-align: middle;
    position: absolute;
    right: 12px;
    padding: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  button.burger {
    display: inline-block;
    position: relative;
    padding: 0;
    width: 32px;
    height: 20px;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  button.burger:focus {
    outline: none;
  }
  button.burger.burger2:after, button.burger.burger2:before,
  button.burger.burger2 span {
    width: 100%;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    display: block;
    background: #fff;
    right: 0;
  }
  button.burger.burger2:after, button.burger.burger2:before {
    content: "";
    -webkit-transition: 0.3s width 0.4s;
    transition: 0.3s width 0.4s;
  }
  button.burger.burger2:after {
    top: 0px;
    left: 0px;
    margin-top: 0px;
  }
  button.burger.burger2:before {
    bottom: 0px;
    right: 0px;
    margin-bottom: 0px;
  }
  button.burger.burger2 span {
    top: 50%;
    margin-top: -1px;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  button.burger.burger2 span:before {
    content: "";
    background: #fff;
    width: 100%;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    left: 0px;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  button.burger.burger2.on:after {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    width: 0%;
    left: 0px;
  }
  button.burger.burger2.on:before {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    width: 0%;
    right: 0px;
  }
  button.burger.burger2.on span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: 0.3s -webkit-transform 0.4s;
    transition: 0.3s -webkit-transform 0.4s;
    transition: 0.3s transform 0.4s;
    transition: 0.3s transform 0.4s, 0.3s -webkit-transform 0.4s;
  }
  button.burger.burger2.on span:before {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transition: 0.3s -webkit-transform 0.4s;
    transition: 0.3s -webkit-transform 0.4s;
    transition: 0.3s transform 0.4s;
    transition: 0.3s transform 0.4s, 0.3s -webkit-transform 0.4s;
  }
  .header.header .mobmenu {
    position: fixed;
    right: 0;
    top: 0;
    width: 400px;
    height: 100vh;
    background: #181A1C;
    padding: 80px 0 0 0;
    overflow: auto;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .header.header .mobmenu ul {
    display: block;
  }
  .header.header .mobmenu.show {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  header.header ul li a {
    position: relative;
    padding: 15px 15px 15px 25px !important;
  }
  header.header ul li a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 0;
    background: #B9E640;
  }
  header.header ul li a.active {
    background: transparent;
    color: #B9E640;
  }
  header.header ul li a.active::after {
    height: 100%;
  }
}
@media (max-width: 575.8px) {
  .header__logo img {
    max-width: 180px;
  }
  header.header {
    height: 70px;
  }
  .header.header .mobmenu {
    width: 100%;
    padding: 60px 20px 20px 20px;
  }
}
.footer__topsection {
  padding: 52px 0;
  text-align: center;
  background: #fff;
}
.footer__topsection h5 {
  font-size: 24px;
  line-height: 110%;
  font-weight: 600;
  font-family: "Sora", sans-serif;
  margin-bottom: 21px;
}
.footer__topsection h5 span {
  color: #7CA32A;
}
.footer__topsection p {
  margin: 0;
  color: #181A1C;
  font-weight: 500;
}
.footer__topsection p a {
  text-decoration: none;
  color: #181A1C;
}
.footer__topsection p a span {
  color: #7CA32A;
}

.footer__botsection {
  background: #101010;
  min-height: 94px;
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__botsection .row {
  width: 100%;
}
.footer__botsection p {
  margin: 0;
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.footer-link {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}

.scrolltop-wrap {
  text-align: right;
}
.scrolltop-wrap .totop {
  width: 60px;
  height: 60px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 1px solid #fff;
  cursor: pointer;
}
.scrolltop-wrap .totop svg,
.scrolltop-wrap .totop img {
  max-width: 20px;
}

@media (max-width: 1599.8px) {
  .footer__topsection {
    padding: 35px 0;
  }
  .footer__topsection h5 {
    font-size: 21px;
    margin-bottom: 15px;
  }
  .footer__botsection {
    min-height: 80px;
  }
}
@media (max-width: 767.8px) {
  .footer__botsection {
    text-align: center;
    position: relative;
  }
  .totop {
    position: absolute;
    right: 12px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .footer-link {
    margin-bottom: 15px;
    display: inline-block;
  }
}