footer.footer {}

.footer__topsection {
    padding: 52px 0;
    text-align: center;
    background: #fff;

    h5 {
        font-size: 24px;
        line-height: 110%;
        font-weight: 600;
        font-family: "Sora", sans-serif;
        margin-bottom: 21px;

        span {
            color: #7CA32A;
        }
    }

    p {
        margin: 0;
        color: #181A1C;
        font-weight: 500;

        a {
            text-decoration: none;
            color: #181A1C;

            span {
                color: #7CA32A;
            }
        }
    }
}

.footer__botsection {
    background: #101010;
    min-height: 94px;
    padding: 15px 0;
    display: flex;
    align-items: center;

    .row {
        width: 100%;
    }

    p {
        margin: 0;
        color: #fff;
        font-size: 14px;
        text-align: center;
    }
}

.footer-link {
    color: #fff;
    font-weight: 500;
    text-decoration: none;
}

.scrolltop-wrap {
    text-align: right;

    .totop {
        width: 60px;
        height: 60px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: 0.5s;
        border: 1px solid #fff;

        svg, img {
            max-width: 20px;
        }
    }
}