$main-green: #B9E640;
// 7CA32A

body,
html {
    height: 100%;
}

.main {
    flex: 1 1 auto;
}

.pagewrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    font-size: 16px;
    font-family: "Inter", sans-serif;

    &.hidden {
        overflow: hidden;
    }

    & * {
        margin-top: 0;
        box-sizing: border-box;
        line-height: 140%;
    }
}

@media(min-width:1400px) {
    .container {
        max-width: 1224px;
    }
}

input {
    outline: none;
}

img {
    max-width: 100%;
}

.fill-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    position: absolute;
    left: 0;
    top: 0;
}

.green-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 48px;
    padding: 5px 20px;
    min-width: 120px;
    color: #000;
    background: $main-green;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    line-height: 100%;
}

.border-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 48px;
    padding: 5px 18px;
    min-width: 120px;
    color: #fff;
    background: transparent;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    line-height: 100%;
    border: 1px solid $main-green;
    font-size: 14px;
    transition: 0.3s;

    img {
        transition: 0.3s;
    }

    &:hover {
        background: $main-green;
        color: #000;

        img {
            filter: invert(1);
        }
    }
}

h1 {
    font-family: "Manrope", sans-serif;
    color: #000;
    font-size: 80px;
    font-weight: 700;
    line-height: normal;


    &.white {
        color: #fff;
    }

    span {
        color: $main-green;
    }
}

h2 {
    color: #181A1C;
    font-weight: 600;
    font-size: 56px;
    font-family: "Sora", sans-serif;
    line-height: 110%;

    &.white {
        color: #fff;
    }

    span {
        color: $main-green;
    }
}

h3 {
    font-size: 48px;
    line-height: 110%;
    font-family: "Sora", sans-serif;
    font-weight: 400;
    color: #181A1C;

    &.white {
        color: #fff;
    }
}

.text-center {
    text-align: center;
}

@media(max-width:1599.8px) {
    h1 {
        font-size: 72px;
    }

    h2 {
        font-size: 48px;
    }

    h3 {
        font-size: 42px;
    }

}

@media(max-width:1399.8px) {
    h1 {
        font-size: 62px;
    }

    h2 {
        font-size: 42px;
    }

    h3 {
        font-size: 36px;
    }

}

@media(max-width:1199.8px) {
    h1 {
        font-size: 52px;
    }

    h2 {
        font-size: 38px;
    }

    h3 {
        font-size: 32px;
    }

}


@media(max-width:575.8px) {
    h1 {
        font-size: 34px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 32px;
    }

}