$main-green: #B9E640;

body,
html {
    height: 100%;
}

.main {
    flex: 1 1 auto;
}

.pagewrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    font-size: 16px;
    font-family: "Inter", sans-serif;

    &.hidden {
        overflow: hidden;
    }

    & * {
        margin-top: 0;
        box-sizing: border-box;
        line-height: 140%;
    }
}

@media(min-width:1400px) {
    .container {
        max-width: 1200px;
    }
}

input {
    outline: none;
}

img {
    max-width: 100%;
}

.fill-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    position: absolute;
    left: 0;
    top: 0;
}

.green-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 48px;
    padding: 5px 20px;
    min-width: 120px;
    color: #000;
    background: $main-green;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    line-height: 100%;
}

h1 {
    font-family: "Manrope", sans-serif;
    color: #000;
    font-size: 80px;
    font-weight: 700;
    line-height: normal;


    &.white {
        color: #fff;
    }

    span {
        color: $main-green;
    }
}

h2 {
    color: #181A1C;
    font-weight: 600;
    font-size: 56px;
    font-family: "Sora", sans-serif;
    line-height: 110%;

    &.white {
        color: #fff;
    }

    span {
        color: $main-green;
    }
}
