header.header {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 12;
    transition: 0.5s;

    ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            a {
                font-family: "Inter", sans-serif;
                color: #fff;
                font-weight: 500;
                font-size: 18px;
                display: inline-block;
                padding: 40px 25px 25px 25px;
                text-decoration: none;
                transition: 0.5s;

                &:hover {
                    color: $main-green;
                }

                &.active {
                    background: $main-green;
                    color: #181A1C;
                }
            }
        }
    }

    &.scroll, &.header__black {
        background: #181A1C;

        ul li a {
            padding-top: 25px;
            padding-bottom: 25px;

        }
    }
}


.header__logo {
    padding-bottom: 15px;
    display: inline-block;

    img {
        width: 100%;
        max-width: 270px;
    }
}

.header__burger {
    display: none;
}




@media(max-width:1599.8px) {
    header.header ul li a {
        font-size: 16px;
    }

    .header__logo img {
        max-width: 250px;
    }

    header.header ul li a {
        padding: 35px 22px 22px 22px;
    }

}

@media(max-width:1399.8px) {
    .header__logo {
        padding-bottom: 0;

        img {
            max-width: 220px;
        }
    }

    header.header ul li a {
        padding: 30px 20px 15px 20px;
    }

    header.header.scroll ul li a,
    header.header.header__black ul li a  {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    

    header .align-items-end {
        align-items: center;
    }
}

@media(max-width:1199.8px) {
    header {
        height: 80px;
        display: flex;
        align-items: center;

        .container {
            position: relative;
        }
    }

    .header__burger {
        display: inline-block;
    }

    .header__burger {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        vertical-align: middle;
        position: absolute;
        right: 12px;
        padding: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    button.burger {
        display: inline-block;
        position: relative;
        padding: 0;
        width: 32px;
        height: 20px;
        border: none;
        background: transparent;
        cursor: pointer;

        &:focus {
            outline: none;
        }

        &.burger2 {

            &:after,
            &:before,
            span {
                width: 100%;
                height: 2px;
                border-radius: 100px;
                position: absolute;
                display: block;
                background: #fff;
                right: 0;

            }

            &:after,
            &:before {
                content: "";
                transition: 0.3s width 0.4s;
            }

            &:after {
                top: 0px;
                left: 0px;
                margin-top: 0px;
            }

            &:before {
                bottom: 0px;
                right: 0px;
                margin-bottom: 0px;
            }

            span {
                top: 50%;
                margin-top: -1px;
                transition: transform 0.3s;

                &:before {
                    content: "";
                    background: #fff;
                    width: 100%;
                    height: 2px;
                    border-radius: 100px;
                    position: absolute;
                    left: 0px;
                    transition: transform 0.3s;
                }
            }

            &.on {


                &:after {
                    transition: all 0.2s;
                    width: 0%;
                    left: 0px;
                }

                &:before {
                    transition: all 0.2s;
                    width: 0%;
                    right: 0px;
                }

                span {
                    transform: rotate(45deg);
                    transition: 0.3s transform 0.4s;

                    &:before {
                        transform: rotate(-90deg);
                        transition: 0.3s transform 0.4s;
                    }
                }


            }
        }

    }

    .header.header {
        .mobmenu {
            position: fixed;
            right: 0;
            top: 0;
            width: 400px;
            height: 100vh;
            background: #181A1C;
            padding: 80px 0 0 0;
            overflow: auto;
            transition: 0.5s;
            transform: translateX(100%);

            ul {
                display: block;
            }

            &.show {
                transform: translateX(0);
            }
        }
    }

    header.header ul li a {
        position: relative;
        padding: 15px 15px 15px 25px !important;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 2px;
            height: 0;
            background: $main-green;
        }
    }

    header.header ul li a.active {
        background: transparent;
        color: $main-green;

        &::after {
            height: 100%;
        }

    }

}

@media(max-width:575.8px) {
    .header__logo img {
        max-width: 180px;
    }

    header.header {
        height: 70px;
    }

    .header.header .mobmenu {
        width: 100%;
        padding: 60px 20px 20px 20px;
    }


}