.hero {
    position: relative;
    overflow: hidden;
    height: calc(100vh + 150px);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(#0B1E25, 0.5);
    }

    .container {
        position: relative;
        z-index: 2;
    }
}

.hero__content {
    text-align: center;

    h1 {
        margin-bottom: 12px;
    }

    p {
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 48px;
    }
}

.hero-wave {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
    height: 150px;
    object-fit: 100% 100%;
    object-position: 100% 0;
}

.features {
    padding: 0 0 90px 0;

    h2 {
        text-align: right;
        margin-bottom: 52px;
    }
}

.features-item {
    border-radius: 10px;
    border: 1px solid #181A1C;
    position: relative;
    overflow: hidden;
    padding: 20px 20px 20px 80px;
    display: block;
    text-decoration: none;
    margin-bottom: 20px;
    min-height: 178px;

    .wrapper {
        position: relative;
        z-index: 2;
    }

    h5 {
        margin-bottom: 12px;
        color: #181A1C;
        font-family: "Sora", sans-serif;
        font-size: 24px;
        line-height: 110%;
    }

    p {
        margin: 0;
        font-size: 14px;
        color: #181A1C;
    }

    &::after {
        content: '';
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 0 0 10px 0;
        background: $main-green;
        position: absolute;
        right: 0;
        bottom: 0;
        transition: 0.5s;
    }

    &:hover {
        &::after {
            width: 100%;
            height: 100%;
        }
    }

}

.features__icon {
    width: 40px;
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 2;
}

.ctasection {
    position: relative;
    overflow: hidden;
    padding: 63px 0;
    min-height: 340px;

    &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(#181A1C, 0.3);
    }

    .container {
        position: relative;
        z-index: 2;
    }
}

.doelgroepen {
    padding: 100px 0;
    background: #101010;
}

.section__head {
    text-align: center;
    margin-bottom: 52px;

    h2 {
        margin-bottom: 24px;
    }

    p {
        color: #fff;
        font-weight: 500;

        span {
            color: $main-green;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.accordeon-item {
    border-bottom: 1px solid #C9C9C9;

    &:nth-child(1) {
        border-top: 1px solid #C9C9C9;
    }

    &.active {
        .accordeon-header {
            .accordeon-arrow {
                transform: translateY(-50%) rotate(180deg);
            }
        }
    }
}

.accordeon-header {
    position: relative;
    min-height: 112px;
    padding: 10px 20px 10px 52px;
    display: flex;
    align-items: center;
    cursor: pointer;

    h5 {
        margin: 0;
        color: #fff;
        font-family: "Sora", sans-serif;
        font-weight: 600;
        line-height: 110%;
        font-size: 24px;
    }

    .accordeon-arrow {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: 0.3s;
        width: 32px;
    }

}

.accordeon-body {
    display: none;
    padding-left: 52px;
    padding-bottom: 60px;

    .description {
        max-width: 545px;

        p {
            color: #fff;
            font-size: 14px;
            margin-bottom: 25px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .imgwrap {
        img {
            width: 100%;
        }
    }
}

.kernsterktes {
    padding: 100px 0 120px;
}

.kernsterktes-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
        margin-bottom: 88px;
    }

    .imgwrap {
        img {
            border-radius: 10px;
            vertical-align: top;
        }
    }
}

.kernsterktes__item {
    border: 1px solid #2D2D2D;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }

    h5 {
        color: #181A1C;
        margin-bottom: 20px;
        font-size: 24px;
        line-height: 110%;
        font-family: "Sora", sans-serif;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            position: relative;
            padding-left: 24px;
            margin-bottom: 8px;

            &:last-child {
                margin-bottom: 0;
            }

            span {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 16px;
                height: 16px;
                border: 1px solid #7CA32A;
                background: $main-green;
                border-radius: 4px;
            }
        }
    }

}

.referenties {
    background: #101010;
    padding: 100px 0;
}

.accordeon-item {
    .row {
        width: 100%;
    }

    .accordeon-header .imgwrap {
        text-align: right;

        img {
            vertical-align: top;
            max-width: 150px;
            max-height: 77px;
        }
    }

    .green-btn {
        min-width: 183px;
        margin-top: 3px;
    }
}

.overons {
    padding: 110px 0 180px;
    position: relative;
    z-index: 1;

    h2 {
        color: #fff;
    }

    .description {
        p {
            color: #fff;
            font-weight: 500;
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.whatwedo {
    padding: 0 0 110px 0;
    position: relative;
    z-index: 3;
}

.whatwedo__header {
    text-align: right;

    span {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 24px;
        background: $main-green;
        height: 52px;
        padding: 4px 24px;
        font-size: 24px;
        line-height: 110%;
        font-weight: 600;
        font-family: "Sora", sans-serif;
        border-radius: 30px;
    }

    h2 {
        margin-bottom: 80px;
    }
}

.whatwedo__item {
    background: #fff;
    border-radius: 10px;
    padding: 24px;
    height: 100%;
    min-height: 266px;

    h5 {
        margin-bottom: 16px;
        color: #000;
        font-size: 24px;
        line-height: 110%;
        font-family: "Sora", sans-serif;
        font-weight: 600;
    }

    p {
        color: #2D2D2D;
        font-weight: 500;
        margin: 0;
    }
}

.row.customspace50 {
    margin-left: -25px;
    margin-right: -25px;

    &>* {
        padding-right: 25px;
        padding-left: 25px;
    }
}

.whatwedo__footer {
    text-align: center;
    margin-top: 80px;
    position: relative;
    z-index: 2;
}

.sectiongroup {
    position: relative;
    overflow: hidden;

    .sectbg {
        // object-position: 0 0;
    }

    &::after {
        content: '';
        display: block;
        height: 228px;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        background: linear-gradient(to top, #fff, rgba(#fff, 0) 80%);
        z-index: 1;
    }
}

.businessnav {
    padding: 15px 0 190px 0;

    h3 {
        margin-bottom: 64px;
        text-align: center;
    }
}

.circleswrap {
    display: flex;
    // flex-wrap: wrap;
    justify-content: space-between;

}

.circlebox {
    width: 100%;
    max-width: 346px;
    flex: 0 0 346px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border: 1px solid #2D2D2D;
    margin-left: -69px;

    &:nth-child(1) {
        margin-left: 0;
    }

    p {
        color: $main-green;
        font-size: 56px;
        line-height: 110%;
        font-weight: 600;
        font-family: "Sora", sans-serif;
        text-align: center;
        margin: 0;

        span {
            display: block;
            color: #181A1C;
            margin: 10px 0 0 0;
            font-size: 24px;
            line-height: 110%;
        }
    }
}

.quotesection {
    background: #D9C1B4;
    padding: 98px 0 90px;

    img {
        border-radius: 10px;
    }

    .description {
        img {
            height: 48px;
            margin-bottom: 35px;
        }

        p {
            color: #181A1C;
            font-size: 36px;
            line-height: 120%;
            font-family: "Sora", sans-serif;
            margin-bottom: 40px;

            &.author {
                margin: 0;
                text-align: right;
                color: #101010;
                font-size: 24px;
                line-height: 110%;
                font-family: "Sora", sans-serif;
                font-weight: 600;
            }
        }
    }
}

.limg {
    img {
        max-width: 240px;
    }
}

.rimg {
    text-align: right;

    img {
        max-width: 326px;
    }
}

.contacts {
    padding: 90px 0 185px;
    position: relative;

    .container {
        position: relative;
        z-index: 2;
    }
}

.contact-box {
    background: #fff;
    border-radius: 10px;
    padding: 40px;

    h3 {
        font-weight: 600;
        margin-bottom: 43px;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            margin-bottom: 32px;
            position: relative;
            padding-left: 44px;
            color: #181A1C;
            font-weight: 500;

            img {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 24px;
            }

            &:last-child {
                margin-bottom: 0;
            }

            &:nth-child(1) {
                img {
                    top: 0;
                    transform: translateY(0);
                }
            }

            a {
                text-decoration: none;
                color: #181A1C;
                font-weight: 500;
            }
        }
    }
}

.map {
    iframe {
        aspect-ratio: 16 / 5;
        vertical-align: top;
    }
}

@media(max-width:1599.8px) {
    .hero__content {
        h1 {
            margin-bottom: 0;
        }

        p {
            font-size: 18px;
            margin-bottom: 40px;
        }
    }

    .kernsterktes-content h2 {
        margin-bottom: 20px;
    }

    .hero-wave {
        height: 120px;
    }

    .features-item h5 {
        font-size: 21px;
        margin-bottom: 10px;
    }

    .kernsterktes__item h5,
    .whatwedo__item h5 {
        margin-bottom: 10px;
    }

    .whatwedo__header h2 {
        margin-bottom: 60px;
    }

    .businessnav h3 {
        margin-bottom: 40px;
    }

    .circlebox p {
        font-size: 48px;

        span {
            font-size: 21px;
        }
    }

    .businessnav {
        padding-bottom: 120px;
    }









    .accordeon-header h5,
    .kernsterktes__item h5,
    .whatwedo__item h5 {
        font-size: 21px;
    }

    .quotesection .description p {
        font-size: 32px;
    }

    .quotesection .description p.author {
        font-size: 21px;
    }

}

@media(max-width:1399.8px) {
    .circlebox {
        max-width: 326px;
    }

    .hero-wave {
        height: 100px;
    }

    .whatwedo__header span {
        font-size: 18px;
        height: 45px;
    }

    .quotesection .description p {
        font-size: 28px;
    }

    .contact-box h3 {
        margin-bottom: 30px;
    }

    .contact-box ul li {
        margin-bottom: 25px;
    }


}

@media(max-width:1199.8px) {
    .circlebox {
        max-width: 286px;
    }

    .features-item {
        padding: 20px 20px 20px 60px;
        height: 100%;
        margin: 0;
    }

    .features__icon {
        width: 30px;
    }

    .features-wrap {
        .col-lg-4 {
            margin-bottom: 20px;
        }
    }

    .features-item::after {
        width: 20px;
        height: 20px;
    }

    .overons {
        padding-bottom: 120px;
    }

    .row.customspace50 {
        margin-left: -12px;
        margin-right: -12px;

        &>* {
            padding-right: 12px;
            padding-left: 12px;
        }
    }

    .circlebox p {
        font-size: 36px;

        span {
            font-size: 18px;
        }
    }

    .limg img,
    .rimg img {
        max-width: 100%;
    }

    .quotesection .description p {
        font-size: 24px;
        margin-bottom: 20px;
    }


    .quotesection .description p.author {
        font-size: 18px;
    }

    .whatwedo__item p {
        font-size: 14px;
    }

}

@media(max-width:991.8px) {
    .circlebox {
        margin-left: -40px;
        max-width: 190px;
    }

    .accordeon-header {
        min-height: 100px;
    }

    .kernsterktes-content .imgwrap {
        display: none;
    }

    .accordeon-item .accordeon-header .imgwrap img {
        max-width: 130px;
        max-height: 60px;
    }

    .whatwedo__item {
        height: auto;
        min-height: initial;
        margin-bottom: 20px;
    }

    .whatwedo__footer {
        margin-top: 50px;
    }

    .quotesection .description img {
        width: 30px;
        height: auto;
        margin-bottom: 10px;
    }

    .map iframe {
        aspect-ratio: 16 / 8;
        vertical-align: top;
    }






    .whatwedo {
        padding-bottom: 70px;
    }

    .features,
    .businessnav {
        padding-bottom: 70px;
    }

    .doelgroepen,
    .kernsterktes,
    .referenties,
    .overons,
    .quotesection,
    .contacts {
        padding: 70px 0;
    }

    .features h2 {
        margin-bottom: 30px;
    }



    .accordeon-body .description {
        margin-bottom: 30px;

        p {
            font-size: 16px;
        }
    }

    .quotesection .description p {
        font-size: 21px;
    }
}

@media(max-width:767.8px) {
    .circlebox {
        margin-left: -40px;
        max-width: 140px;

        p {
            font-size: 24px;

            span {
                margin-top: 0;
                font-size: 12px;
            }
        }
    }

    .quotesection .description img {
        width: 20px;
        margin-bottom: 0px;
    }

    .quotesection .description p {
        font-size: 18px;
    }

    .quotesection .description p.author {
        font-weight: 500;
        font-size: 16px;
    }
}

@media(max-width:575.8px) {
    .circleswrap {
        display: block;
    }

    .circlebox {
        margin-left: 0;
    }

    .hero__content {
        h1 {
            margin-bottom: 10px;
        }

        p {
            font-size: 16px;
            margin-bottom: 30px;
        }
    }

    .hero-wave {
        height: 40px;
    }

    .hero {
        height: calc(100vh + 60px);
    }

    .features {
        padding: 40px 0 50px;
    }

    .ctasection {
        padding: 50px 0;
        min-height: 300px;
    }

    .doelgroepen,
    .kernsterktes,
    .referenties,
    .overons,
    .quotesection,
    .contacts {
        padding: 50px 0;
    }

    .section__head {
        margin-bottom: 30px;

        p {
            font-weight: 400;

            br {
                display: none;
            }
        }
    }

    .accordeon-header h5 {
        font-weight: 500;
        font-size: 18px;
    }

    .accordeon-header {
        min-height: 70px;
    }

    .accordeon-header .accordeon-arrow {
        width: 24px;
    }

    .accordeon-header {
        padding: 10px 15px 10px 40px;
    }

    .accordeon-body {
        padding-left: 40px;
    }




}










//  font-family: "Inter", sans-serif;
//   font-family: "Manrope", sans-serif;
// font-family: "Sora", sans-serif;