.privacy-content {
    padding: 200px 0 100px 0;
    color: #181A1C;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #181A1C;
        margin-bottom: 20px;
        font-weight: 600;
        margin-top: 30px;
        font-family: "Inter", sans-serif;

        &:nth-child(1) {
            margin-top: 0;
        }
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 42px;
    }

    h3 {
        font-size: 36px;
    }

    h4 {
        font-size: 24px;
    }

    h5 {
        font-size: 21px;
    }

    h6 {
        font-size: 18px;

    }

    p {
        font-size: 16px;
        color: #181A1C;
        margin-bottom: 20px;
        font-family: "Inter", sans-serif;
    }

    ul,
    ol {
        font-size: 16px;
        color: #181A1C;
        margin-bottom: 20px;
        padding-left: 20px;
        font-family: "Inter", sans-serif;
    }

}



@media(max-width:1599.8px) {
    .privacy-content {
        padding: 160px 0 70px 0;
    }
}

@media(max-width:991.8px) {
    .privacy-content {
        h1 {
            font-size: 42px;
        }

        h2 {
            font-size: 36px;
        }

        h3 {
            font-size: 32px;
        }

        h4 {
            font-size: 24px;
        }

        h5 {
            font-size: 21px;
        }

        h6 {
            font-size: 18px;
        }
    }

}

@media(max-width:767.8px) {
    .privacy-content {
        padding: 120px 0 50px 0;
    }
}


@media(max-width:575.8px) {
    .privacy-content {
        h1 {
            font-size: 32px;
            font-weight: 600;
        }

        h2 {
            font-size: 28px;
            font-weight: 600;
        }

        h3 {
            font-size: 24px;
        }

        h4 {
            font-size: 21px;
        }

        h5 {
            font-size: 18px;
        }

        h6 {
            font-size: 18px;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-bottom: 15px;
            margin-top: 20px;
        }
    }

}